.page {
  /* display: block;
  max-width: 1280px;
  margin: 0 auto; */
  max-width: 1280px;
  width: 100%;
  background-color: #2A2C2F;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: #ffffff;
  box-sizing: border-box;
}

/* * { box-sizing: border-box;
} */

.box-sizing-border-box {
  box-sizing: border-box;
}


/* .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  display: block;
  width: 100%;
}

.container-fluid {
  padding: 0;
  display: block;
  width: 100%;
} */