.photo-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  margin: 92px 48px;
  /* max-width: 1184px; */
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    margin: 88px auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    gap: 12px;
    margin: 64px auto;
    grid-template-columns: 1fr;
  }
}
