.cover_size {
  box-sizing: border-box;
  margin: 92px auto 0;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .cover_size {
    max-width: 1024px;
  }
}

@media (max-width: 758px) {
  .cover_size {
    margin: 90px auto 0;
    max-width: 768px;
  }
}

@media (max-width: 320px) {
  .cover_size {
    margin: 66px auto 0;
  }
}
