.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 320px) {
  .photo-grid__container {
    row-gap: 12px;
}
}