.lang-link-list__item {
  box-sizing: border-box;
  /* display: flex;
  align-items: flex-end; */
  margin-right: 18px;
  /* padding: 0;
  list-style: none; */
 }

.lang-link-list__item:last-child {
  margin-right: 0;
}