.cover__subtitle {
  z-index: 1;
  width: 30.4054054%;
  text-align: center;
  font-size: 18px;
  line-height: 122%;
  box-sizing: border-box;
  margin: 0;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    width: 35.15625%;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    width: 46.875%;
  }
}

@media (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
    width: 288px;
    margin: 0 16px 33px 16px;
  }
}
