.header__logo {
  max-width: 100%;
  position: relative;
  height: auto;
  box-sizing: border-box;
}

@media (max-width: 425px) {
  .header__logo {
    width: 150px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    width: 142px;
  }
}
