.header__logo {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.header__logo:hover {
  opacity: 0.8;
}

@media (max-width: 425px) {
.header__logo {
  width: 150px;
}
}

@media (max-width: 320px) {
.header__logo {
  width: 142px;
}
}