.photo-grid__item {
  object-fit: cover;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .photo-grid__item {
    /* min-width: 300px;
    min-height: 225px; */
  }
}

