.footer__author {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 425px) {
  .footer__author {
    padding: 48px 0 0 0;
    text-align: left;
}
}

@media (max-width: 320px) {
  .footer__author {
    padding: 48px 0 0 0;
    text-align: left;
}
}