.lead__wrapper {
  display: block;
  padding: 56px 148px 0 148px;
  margin: 0;
}

@media (max-width: 1024px) {
  .lead__wrapper {
    padding: 48px 48px 0 48px;
}
}

@media (max-width: 768px) {
  .lead__wrapper {
    padding: 48px 0 0;
}
}

@media (max-width: 320px) {
  .lead__wrapper {
    padding: 48px 0 0;
}
}

