.intro__wrapper {
    display: block;
    padding: 114px 442px 0 148px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
.intro__wrapper {
    padding: 114px 286px 0 48px;
}
}

@media (max-width: 768px) {
.intro__wrapper {
    padding: 110px 24px 0 24px;
}
}