.places__wrapper {
  display: block;
  padding: 92px 148px 0 148px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .places__wrapper {
    padding: 92px 48px 0 48px;
}
}

@media (max-width: 768px) {
  .places__wrapper {
    padding: 88px 24px 0 24px;
}
}

@media (max-width: 320px) {
  .places__wrapper {
    padding: 64px 16px 0 16px;
}
}