.menu__link {
  font-size: 16px;
  line-height: 112%;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.menu__link:hover {
  opacity: 0.8;
}

@media (max-width: 320px) {
  .menu__link {
    font-size: 24px;
    line-height: 100%;
  }
}
