.footer__wrapper {
  display: block;
  padding: 92px 48px 24px 48px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .footer__wrapper {
    padding: 88px 24px 24px 24px;
}
}

@media (max-width: 425px) {
  .footer__wrapper {
    padding: 64px 20px 24px 16px;
}
}

@media (max-width: 320px) {
  .footer__wrapper {
    padding: 64px 20px 24px 16px;
}
}