.lang-link-list__link {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 117%;
  box-sizing: border-box;
}

.lang-link-list__link:hover {
  opacity: 0.8;
}
  
@media screen and (max-width: 768px) {
.lang-link-list__link {
  font-size: 18px;
  line-height: 111%;
}
}

 
  
  