.lang-link-list__link-underline {
  text-decoration: underline;
  width: 30px;
  box-sizing: border-box;
}

@media (max-width: 425px) {
  .lang-link-list__link-underline {
    width: 23px;
  }
  }

@media (max-width: 320px) {
  .lang-link-list__link-underline {
    width: 22px;
  }
  }