.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    margin: 0 16px 40px 16px;
    line-height: 110%;
  }
}
