/* .cover__wrapper {
  display: block;
  padding: 92px 48px 0 48px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .cover__wrapper {
    padding: 92px 0 0 0;
}
}

@media (max-width: 768px) {
  .cover__wrapper {
    padding: 90px 0 0 0;
}
}

@media (max-width: 320px) {
  .cover__wrapper {
    padding: 66px 0 0 0;
}
} */
