.image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  background-image: url(../../images/sprint-3-images/place-altai.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.3;
  background-color: #2A2C2F;
  width: 100%;
  height: 100%;
  cursor: pointer;
  content: "";
}