.header__wrapper {
  display: block;
  padding: 28px 48px 0px;
  width: 100%;
  /* max-width: 1184px; */
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  .header__wrapper {
    padding: 24px 48px 0px;
}
}

@media (max-width: 320px) {
  .header__wrapper {
    padding: 16px 16px 16px 16px;
}
}