.lead__image-map {
  position: absolute;
  max-width: 100%;
  display: block;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  padding-left: 23.27px;
  padding-right: 23.64px;
  box-sizing: border-box;
}
